<div class="flex flex-column align-items-center justify-content-center card" >
<!--     <div class="Vectorp">
        <img src="../assets/Vector.svg" class="Vector">
        <img src="../assets/Vector.svg" class="Vector">
        <img src="../assets/Vector.svg" class="Vector">
        <img src="../assets/Vector.svg" class="Vector">
        <img src="../assets/Vector.svg" class="Vector">
    </div> -->
    <h3 class="text-center py-2 card-text">
        <span> <img  class="trash" src="../assets/trash.svg" alt="trash" pTooltip="حذف" tooltipPosition="bottom" tooltipStyleClass="tooltipStyle"></span>
        عرض التذكرة الخاصة بالفيلم</h3>


    <div class="card-link">
        <div class="flex align-items-center">
            <img pTooltip="copy" tooltipStyleClass="tooltipStyle" tooltipPosition="bottom" class="CopyToClipboard" [cdkCopyToClipboard]="value" src="../assets/Group.svg" alt="">
            <h3 class="clipboard">{{value}}</h3>
        </div>


    </div>
    <p  class="text-center py-3 card-date">فعال حتي 15 يوليو 2023</p>

    <div class="half-circle">
        <img src="../assets/lines.svg" alt="">
    </div>


        <div class="flex justify-content-between align-items-center py-2 px-5" style="width: 100%;">

            <div class="qrcodeImage">
                <qrcode
                  [qrdata]="'https://atechnologies.info/'"
                  [allowEmptyString]="true"
                  [ariaLabel]="'QR Code image with the following content...'"
                  [cssClass]="'center'"
                  [colorDark]="'#000000ff'"
                  [colorLight]="'#ffffffff'"
                  [elementType]="'canvas'"
                  [errorCorrectionLevel]="'M'"
 
                  [margin]="2"
                  [scale]="1"
                  [title]="'A custom title attribute'"
                  [width]="82"
                ></qrcode>
              </div>

              <div>
                <h3 class="discout text-right">خصم</h3>
                <div class="flex align-items-center discout-div">
                    <p-button [outlined]="true">
                    <span style="margin-left: -12px;">مشاركة</span>
                    <span class="flex"><img src="../assets/send-2.svg" alt=""></span>
                    </p-button>
                    <h3 class="discout-number">25% </h3>
                </div>
              </div>
              
        </div>
</div>
