<div class="main">

  
<div class="mian2 flex justify-content-between align-items-center">
  <button class="change-btn">تعديل <span><img src="../assets/edit.svg" alt=""></span></button>

  <div class="ticket-2">
    <p>تذكرة رقم #2342</p>
    <button class="arrow-right">
      <img src="../assets/arrow-right.svg" alt="arrow-right">
    </button>
    
   </div>
</div>

<div class="grid py-2 align-items-center justify-content-center">
  <app-card></app-card> 
  <div class="col-12  lg:col">
    

    <app-chart></app-chart>
    
  </div>
</div>


 <div class="flex flex justify-content-between align-items-center py-1 flex-wrap">
  <div class="flex justify-content-between align-items-center book-tieket gap-4">
    <p-button>حجز تذكرة جديدة</p-button>
    <h3 class="flex align-items-center gap-2">مفعلة <span><p-inputSwitch></p-inputSwitch></span></h3>  
  </div>

    <div class="flex align-items-center search gap-2 flex-wrap">
      <p-button  [outlined]="true" severity="secondary"> <img src="../assets/arrow-3.svg" alt=""></p-button> 
      <p-button  [outlined]="true" severity="secondary"> <img src="../assets/setting-4.svg" alt=""></p-button>
      
        <span class="p-input-icon-right ">
          <i class="pi pi-search"></i>
          
          <input type="text" placeholder="...بحث عن " pInputText />
        </span>

        <h2 >مبيعات التذاكر</h2>
      
    </div>
 </div>


  <div class="table">
    <app-table></app-table>
  </div>
</div>
 
 